{% extends "blog/base.html" %} <!--this template inherits the structure and styles from blog/base.html-->
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading" style="font-size: 1.6rem; margin-top: 20px;"><b>{{ user.username }}</b></h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE from register (thora update b kia updation k according) -->
      <form method="POST" enctype="multipart/form-data"> <!-- for file uploads -->
        {% csrf_token %} <!-- prevent from attacks that could submit unauthorized data to the server -->
        <fieldset class='form_group'> <!-- group feild -->
            <legend class="border-bottom mb-4"> Profile Info </legend> <!-- title display -->
            {{ u_form|crispy }}  
            {{ p_form|crispy }} 
        </fieldset>
        <div class="form_group">
            <button class="btn btn-outline-info" type="submit"> Update </button>
        </div>
    </form>

    </div>
{% endblock content %}


<!-- enctype="multipart/form-data" is required because the form includes file uploads (e.g., profile pictures). -->
<!-- The forms above is not entirely a built-in Django form; 
 it’s a combination of Django forms that you define yourself and the Crispy Forms package for enhanced styling and layout.  -->